body {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.3)
    ),
    url(https://th.bing.com/th/id/OIP.GMZGjrMfoL_KDqd4c_ciAwHaF7?pid=ImgDet&w=1280&h=1024&rs=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}